.hidden {
  display: none;
}
.upload_progress .value {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100%;
  width: 0%;
  background: #67c23a;
  transition: width .3s;
}
 .rc-select { /*替换rc-select的原样式*/
  font-size: 14px;
  position: relative;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
  height: 32px;
  padding: 2 0px;
}
.rc-select-single:not(.rc-select-customize-input) .rc-select-selector { /*替换rc-select的原样式*/
  padding: 0px;
  border: 0px solid #000;
}
.rc-select-multiple .rc-select-selector { /*替换rc-select的原样式*/
  display: flex;
  padding: 0px;
  border: 0px solid #000;
}